.add-user-container {
    margin-top: 100px; /* Adds margin to accommodate header */
    max-width: 800px; /* Maximum width of the form */
    margin: 100px auto; /* Centers the form horizontally and adds vertical margin */
    padding: 20px;
    background-color: #f9f9f9; /* Light background */
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  }
  
  h1 {
    text-align: center;
    font-family: 'Arial', sans-serif;
    color: #333;
    margin-bottom: 20px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    gap: 15px; /* Adds space between form groups */
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
  }
  
  label {
    font-weight: bold;
    margin-bottom: 5px;
    color: #555;
  }
  
  input[type="text"], input[type="email"], input[type="radio"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    color: #333;
  }
  
  input[type="text"]:focus, input[type="email"]:focus {
    border-color: #6188fd; /* Highlight border on focus */
    outline: none;
  }
  
  input[type="checkbox"] {
    margin-left: 10px;
  }
  
  button[type="submit"] {
    padding: 12px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: #6188fd; /* Button color */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button[type="submit"]:hover {
    background-color:#6188fd;
  }
  
  input[type="radio"] {
    margin: 0 5px;
  }
  
  input[type="radio"] + label {
    margin-right: 10px;
  }
  
  @media screen and (max-width: 768px) {
    .add-user-container {
      max-width: 90%; /* Make form responsive */
    }
  }
  